<!DOCTYPE html>
<html>
<head>
	<title>Test Template Twig!</title>
</head>
<body>
	<h1>Home Template Twig</h1>
	<p>This is a test that show all field of the page model</p>
	<hr/>
	<p>page</p>
	<p>---page.slug --- {{ page.slug }}</p>
	<p>---page.meta_keywords --- {{ page.meta_keywords }}</p>
	<p>---page.meta_desc --- {{ page.meta_desc }}</p>
	<p>---page.title --- {{ page.title }}</p>
	<p>---page.url --- {{ page.url }}</p>
	<p>---page.slug_parent --- {{ page.slug_parent }}</p>
	<p>---page.date --- {{ page.date }}</p>
	<p>---page.menu --- {{ page.menu }}</p>
	<ul>
	{% for item in page.menu %}
		<li>url:{{ item.url }} -- {{ item.menu_text }}</li>
	{% endfor %}
	</ul>
	<hr/>

	<p>site</p>
	<p>---site.url --- {{ site.url }}</p>
	<p>---site.name --- {{ site.name }}</p>
	<p>---site.menu --- {{ site.menu }}</p>
	{% for item in site.menu %}
		<li>url:{{ item.url }} -- {{ item.menu_text }}</li>
	{% endfor %}
	<hr/>

	<p>theme</p>
	<p>---theme.url --- {{ theme.url }}</p>
</body>
</html>
